@model SpinForLife.Models.ReservedBike

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservedBike</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Row)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Row)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Column)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Column)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
